<!DOCTYPE html>
html(lang ="en")
head
	meta(charset ="UTF-8")
	title Modnoc
	meta(name ="description" content="Modnoc is a free parallax web template. A sample product")
	meta(name ="keywords" content="Modnoc, free parallax web template")
	meta(name ="viewport" content="width=device-width, initial-scale=1.0")
	link(rel  ="stylesheet" href="assets/css/main.css")
	link(rel  ="icon" type="/image/png" href="icon.png")
body
	header
	h1 Hello master
	footer

	script(src ="assets/js/main.js")
